In [52]:
import pandas as pd
import datetime
import sys

In [73]:
df1=pd.read_csv("Jan2016-2018_1000.csv",header=0)

In [74]:
df1
df1['Total'] = df1.groupby(['localminute'])['dataid'].transform('sum')
df1['DateTime'] = [datetime.datetime.strptime(d, "%Y-%m-%d %H:%M:%S-%f") for d in df1["localminute"]]
df1['DateTime'] = df1['DateTime'].dt.floor('h')

In [75]:
tmp = df1.groupby('localminute')['dataid'].apply(set)
a0 = tmp[0] & tmp[0]
for i in tmp:
    a0 = a0 & i
print (a0)
df = df1[df1['dataid'].isin(a0)]
df['Total1'] = df.groupby(['localminute'])['dataid'].transform('sum')

{668, 871, 744, 585, 171, 781, 974, 434, 114, 499, 370, 86, 503, 379, 26, 59, 252, 93, 890}

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [76]:
df['Total1'].unique() #Should return exactly value. Total1 <= min(df1.Total)

array([8499])

In [77]:
del df['dataid']
df['TotalUsage'] = df.groupby(['DateTime'])['use'].transform('sum')
df = df.drop_duplicates(subset='DateTime')
df = df.reset_index(drop=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [78]:
df['Date']= df['DateTime'].dt.date
df['Time']= df['DateTime'].dt.time
df['Hour'] = df['DateTime'].dt.hour
df['Minute'] = df['DateTime'].dt.minute
df['Month'] = df['DateTime'].dt.month
df['Day'] = df['DateTime'].dt.day
df['Year'] = df['DateTime'].dt.year

In [79]:
df

,localminute,use,Total,DateTime,Total1,TotalUsage,Date,Time,Hour,Minute,Month,Day,Year
0,2016-01-01 00:00:00-06,0.527133,20215,2016-01-01 00:00:00,8499,19.843233,2016-01-01,00:00:00,0,0,1,1,2016
1,2016-01-01 01:00:00-06,0.463150,20215,2016-01-01 01:00:00,8499,18.462483,2016-01-01,01:00:00,1,0,1,1,2016
2,2016-01-01 02:00:00-06,0.501350,20215,2016-01-01 02:00:00,8499,17.414167,2016-01-01,02:00:00,2,0,1,1,2016
3,2016-01-01 03:00:00-06,1.471033,20215,2016-01-01 03:00:00,8499,15.914683,2016-01-01,03:00:00,3,0,1,1,2016
4,2016-01-01 04:00:00-06,1.518250,20215,2016-01-01 04:00:00,8499,19.195933,2016-01-01,04:00:00,4,0,1,1,2016
5,2016-01-01 05:00:00-06,1.563917,20215,2016-01-01 05:00:00,8499,16.347183,2016-01-01,05:00:00,5,0,1,1,2016
6,2016-01-01 06:00:00-06,1.549833,20215,2016-01-01 06:00:00,8499,17.029917,2016-01-01,06:00:00,6,0,1,1,2016
7,2016-01-01 07:00:00-06,1.595650,20215,2016-01-01 07:00:00,8499,18.535017,2016-01-01,07:00:00,7,0,1,1,2016
8,2016-01-01 08:00:00-06,1.607867,20215,2016-01-01 08:00:00,8499,19.863067,2016-01-01,08:00:00,8,0,1,1,2016
9,2016-01-01 09:00:00-06,1.638033,20215,2016-01-01 09:00:00,8499,22.037300,2016-01-01,09:00:00,9,0,1,1,2016
10,2016-01-01 10:00:00-06,1.283750,20215,2016-01-01 10:00:00,8499,23.691083,2016-01-01,10:00:00,10,0,1,1,2016
11,2016-01-01 11:00:00-06,1.718567,20215,2016-01-01 11:00:00,8499,28.722650,2016-01-01,11:00:00,11,0,1,1,2016
12,2016-01-01 12:00:00-06,1.332417,20215,2016-01-01 12:00:00,8499,27.154750,2016-01-01,12:00:00,12,0,1,1,2016
13,2016-01-01 13:00:00-06,2.691050,20215,2016-01-01 13:00:00,8499,24.823200,2016-01-01,13:00:00,13,0,1,1,2016
14,2016-01-01 14:00:00-06,2.022200,20215,2016-01-01 14:00:00,8499,25.807100,2016-01-01,14:00:00,14,0,1,1,2016
15,2016-01-01 15:00:00-06,1.987083,20215,2016-01-01 15:00:00,8499,27.519067,2016-01-01,15:00:00,15,0,1,1,2016
16,2016-01-01 16:00:00-06,1.311250,20215,2016-01-01 16:00:00,8499,23.876550,2016-01-01,16:00:00,16,0,1,1,2016
17,2016-01-01 17:00:00-06,1.091683,20215,2016-01-01 17:00:00,8499,26.435200,2016-01-01,17:00:00,17,0,1,1,2016
18,2016-01-01 18:00:00-06,1.269467,20215,2016-01-01 18:00:00,8499,28.351483,2016-01-01,18:00:00,18,0,1,1,2016
19,2016-01-01 19:00:00-06,1.343400,20215,2016-01-01 19:00:00,8499,27.433450,2016-01-01,19:00:00,19,0,1,1,2016
20,2016-01-01 20:00:00-06,3.114667,20215,2016-01-01 20:00:00,8499,29.588783,2016-01-01,20:00:00,20,0,1,1,2016
21,2016-01-01 21:00:00-06,6.268900,20215,2016-01-01 21:00:00,8499,31.019883,2016-01-01,21:00:00,21,0,1,1,2016
22,2016-01-01 22:00:00-06,8.732150,20215,2016-01-01 22:00:00,8499,30.690867,2016-01-01,22:00:00,22,0,1,1,2016
23,2016-01-01 23:00:00-06,4.979750,20215,2016-01-01 23:00:00,8499,22.624900,2016-01-01,23:00:00,23,0,1,1,2016
24,2016-01-02 00:00:00-06,2.069950,20215,2016-01-02 00:00:00,8499,18.955717,2016-01-02,00:00:00,0,0,1,2,2016
25,2016-01-02 01:00:00-06,1.599650,20215,2016-01-02 01:00:00,8499,18.217400,2016-01-02,01:00:00,1,0,1,2,2016
26,2016-01-02 02:00:00-06,1.474300,20215,2016-01-02 02:00:00,8499,17.771300,2016-01-02,02:00:00,2,0,1,2,2016
27,2016-01-02 03:00:00-06,1.607433,20215,2016-01-02 03:00:00,8499,18.152417,2016-01-02,03:00:00,3,0,1,2,2016
28,2016-01-02 04:00:00-06,1.455217,20215,2016-01-02 04:00:00,8499,17.166817,2016-01-02,04:00:00,4,0,1,2,2016
29,2016-01-02 05:00:00-06,1.616650,20215,2016-01-02 05:00:00,8499,18.212500,2016-01-02,05:00:00,5,0,1,2,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17506,2017-12-30 12:00:00-06,0.231283,14263,2017-12-30 12:00:00,8499,18.976700,2017-12-30,12:00:00,12,0,12,30,2017
17507,2017-12-30 13:00:00-06,3.380300,14263,2017-12-30 13:00:00,8499,21.280700,2017-12-30,13:00:00,13,0,12,30,2017
17508,2017-12-30 14:00:00-06,0.737783,14263,2017-12-30 14:00:00,8499,20.096317,2017-12-30,14:00:00,14,0,12,30,2017
17509,2017-12-30 15:00:00-06,2.906150,14263,2017-12-30 15:00:00,8499,17.899250,2017-12-30,15:00:00,15,0,12,30,2017
17510,2017-12-30 16:00:00-06,0.524483,14263,2017-12-30 16:00:00,8499,21.900250,2017-12-30,16:00:00,16,0,12,30,2017
17511,2017-12-30 17:00:00-06,0.447850,14263,2017-12-30 17:00:00,8499,24.034100,2017-12-30,17:00:00,17,0,12,30,2017
17512,2017-12-30 18:00:00-06,2.759800,14263,2017-12-30 18:00:00,8499,27.860800,2017-12-30,18:00:00,18,0,12,30,2017
17513,2017-12-30 19:00:00-06,2.761267,14263,2017-12-30 19:00:00,8499,27.403600,2017-12-30,19:00:00,19,0,12,30,2017
17514,2017-12-30 20:00:00-06,0.505233,14263,2017-12-30 20:00:00,8499,27.436367,2017-12-30,20:00:00,20,0,12,30,2017
17515,2017-12-30 21:00:00-06,0.901017,14263,2017-12-30 21:00:00,8499,28.295650,2017-12-30,21:00:00,21,0,12,30,2017
17516,2017-12-30 22:00:00-06,0.727683,14263,2017-12-30 22:00:00,8499,24.847133,2017-12-30,22:00:00,22,0,12,30,2017
17517,2017-12-30 23:00:00-06,0.634367,14263,2017-12-30 23:00:00,8499,19.478883,2017-12-30,23:00:00,23,0,12,30,2017
17518,2017-12-31 00:00:00-06,0.385767,14263,2017-12-31 00:00:00,8499,16.317533,2017-12-31,00:00:00,0,0,12,31,2017
17519,2017-12-31 01:00:00-06,2.878367,14263,2017-12-31 01:00:00,8499,17.104850,2017-12-31,01:00:00,1,0,12,31,2017
17520,2017-12-31 02:00:00-06,2.506367,14263,2017-12-31 02:00:00,8499,16.093383,2017-12-31,02:00:00,2,0,12,31,2017
17521,2017-12-31 03:00:00-06,0.394300,14263,2017-12-31 03:00:00,8499,16.763400,2017-12-31,03:00:00,3,0,12,31,2017
17522,2017-12-31 04:00:00-06,0.382767,14263,2017-12-31 04:00:00,8499,19.573300,2017-12-31,04:00:00,4,0,12,31,2017
17523,2017-12-31 05:00:00-06,3.638433,14263,2017-12-31 05:00:00,8499,18.715617,2017-12-31,05:00:00,5,0,12,31,2017
17524,2017-12-31 06:00:00-06,3.734267,14263,2017-12-31 06:00:00,8499,18.381183,2017-12-31,06:00:00,6,0,12,31,2017
17525,2017-12-31 07:00:00-06,0.390317,14263,2017-12-31 07:00:00,8499,19.458167,2017-12-31,07:00:00,7,0,12,31,2017
17526,2017-12-31 08:00:00-06,2.918483,14263,2017-12-31 08:00:00,8499,22.109783,2017-12-31,08:00:00,8,0,12,31,2017
17527,2017-12-31 09:00:00-06,0.779900,14263,2017-12-31 09:00:00,8499,25.120600,2017-12-31,09:00:00,9,0,12,31,2017
17528,2017-12-31 10:00:00-06,10.433417,14263,2017-12-31 10:00:00,8499,31.442950,2017-12-31,10:00:00,10,0,12,31,2017
17529,2017-12-31 11:00:00-06,2.957867,14263,2017-12-31 11:00:00,8499,30.402267,2017-12-31,11:00:00,11,0,12,31,2017
17530,2017-12-31 12:00:00-06,5.914800,14263,2017-12-31 12:00:00,8499,28.335050,2017-12-31,12:00:00,12,0,12,31,2017
17531,2017-12-31 13:00:00-06,2.087167,14263,2017-12-31 13:00:00,8499,23.331300,2017-12-31,13:00:00,13,0,12,31,2017
17532,2017-12-31 14:00:00-06,2.439883,14263,2017-12-31 14:00:00,8499,25.814400,2017-12-31,14:00:00,14,0,12,31,2017
17533,2017-12-31 15:00:00-06,0.316183,14263,2017-12-31 15:00:00,8499,29.153450,2017-12-31,15:00:00,15,0,12,31,2017
17534,2017-12-31 16:00:00-06,1.110600,14263,2017-12-31 16:00:00,8499,30.285350,2017-12-31,16:00:00,16,0,12,31,2017
17535,2017-12-31 17:00:00-06,7.493350,14263,2017-12-31 17:00:00,8499,33.841383,2017-12-31,17:00:00,17,0,12,31,2017